body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.heder{
    color: black;
}
.text{
    font-size: 20px;
    padding-top: 40px;
}
.second-heder{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 80%;
    padding-right: 40px;
}


.top-two-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange{
    color: orange;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experiences-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    
}
#border-id{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#exprience-2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}