body{
    font-family: 'Poppins', sans-serif;
}

.heder{
    color: black;
}
.text{
    font-size: 20px;
    padding-top: 40px;
}
.second-heder{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-right: 40px;
}


section{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}